<div class="content page-agent-detail">
    <div class="container">
        <div class="row" ng-if="!!agent">
            <div class="col-xs-4">
                <div class="block">
                    <div class="row" style="cursor: pointer" ui-sref="index.agent-detail({id:agent.user_id})">
                        <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px;">
                            <img style="width: 100%;border-radius: 50%;margin-top: 10px;"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 ng-src="img/avatars/{{(agent.user.id % 12)+1}}.jpg" alt="">
                        </div>
                        <div class="col-sm-12 agent-profile">
                            <h4>
                                {{agent.user.name}}
                            </h4>
                            <p>
                                {{agent.user.email}}
                            </p>
                            <p>No: {{agent.id_card_num}}</p>
                            <p>
                                电话号码请询中介
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="block">
                    <h2 class="title-divider">
                        <span><span class="de-em">负责的</span>房产</span>
                    </h2>
                </div>
                <div>
                    <p class="estatesCount">
                        总共有{{estates.length}}个该中介负责的房产可供您浏览
                    </p>
                    <div>
                        <div ng-repeat="estate in estates" class="estate-wrapper row"
                             ui-sref="index.estate-detail({id:estate.id})">
                            <div class="col-sm-2 col">
                                <img style="width: 100px;height: 100px;margin-top: 30px;"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                     ng-src="img/estates/{{estate.id%6+1}}.jpg" alt="">
                            </div>
                            <div class="col-sm-10 col" style="margin-top: 14px;margin-bottom: 10px;">
                                <h1>
                                    {{estate.city}} {{estate.district}}
                                    <small>
                                        {{estate.condition}}

                                    </small>
                                    <small class="price" style="position: absolute;right: 0">
                                        {{["售价","月租"][+estate.is_for_rent]}}
                                        <span class="currency" ng-bind-html="estate.price|humanize_price">
                                        </span>
                                    </small>
                                </h1>
                                <p>
                                    {{estate.city}} {{estate.district}} {{estate.zone}} {{estate.neighborhood}}
                                    {{estate.room}}
                                </p>
                                <p class="description">
                                    {{estate.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>