<div ng-controller="MyEstatesController" class="page-my-estates">

    <button ng-click="showNewEstate()" ng-hide="formShown" class="btn btn-primary"
            style="position: absolute;right: 20px;top:28px">
        <i class="fa fa-plus"></i> 添加
    </button>

    <div ng-if="formShown" class="adding-new-div">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">地域</label>
                <div class="col-sm-10">
                    <zone-select result="formData">
                    </zone-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">房屋属性</label>
                <div class="col-sm-10">
                    <div class="radio" ng-repeat="condition in conditionChoices">
                        <label>
                            <input type="radio" ng-model="formData.condition" value="{{condition}}">
                            {{condition}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">房间号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="formData.room"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">设施描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="formData.description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">售价</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="formData.price"/>
                </div>
                <div class="col-sm-2">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="formData.is_for_rent" value="1">
                            出租
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">

                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="formData.is_for_rent" value="0">
                            出售
                        </label>
                    </div>
                </div>
            </div>
            <!--<pre>-->
                <!--{{formData|json}}-->
            <!--</pre>-->
        </form>

        <div style="text-align: center;">

            <button class="btn btn-primary" ng-click="submitForm()" style="width: 120px;">
                <i class="fa fa-check"></i> 添加
            </button>
            <button class="btn btn-primary-outline" ng-click="discardForm()" style="width: 120px;">
                <i class="fa fa-remove"></i> 放弃
            </button>

        </div>

    </div>

    <div ng-if="list.length==0"
         style="color:#C00;padding: 50px 10px;border:2px solid; border-radius:20px;margin:10px 4px;font-size: 30px;text-align: center;line-height: 1.5em">
        您还没有发布任何房产
    </div>
    <div ng-repeat="item in list" ng-click="showItemDetail(item)" class="item-wrapper row">
        <div class="col col-xs-3" style="text-align: center;">
            <img style="width: 130px;height: 130px;margin: 10px;"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 ng-src="img/estates/{{item.id%6+1}}.jpg" alt="">

        </div>
        <div class="col col-xs-9" style="position: relative">
            <button ng-click="editItem(item,$event)" class="btn btn-primary-outline"
                    style="position: absolute;right: 78px;top:10px">
                <i class="fa fa-edit"></i> 编辑
            </button>
            <button ng-click="removeItem(item,$event)" class="btn btn-primary-outline"
                    style="position: absolute;right: 10px;top:10px">
                <i class="fa fa-remove"></i> 撤销
            </button>
            <p style="margin-top: 10px;">
                地址：{{item.city}} {{item.district}} {{item.zone}} {{item.neighborhood}} {{item.room}}
            </p>
            <p>
                房屋状况：{{item.condition}}
            </p>
            <p>
                设施描述：{{item.description}}
            </p>
            <p>
                {{["售价","月租"][+item.is_for_rent]}}
                <span class="currency" ng-bind-html="item.price|humanize_price"></span>
                <span class="currency" style="font-size:20px!important;position: absolute;right: 10px;bottom:22px"
                      ng-if="!item.verified">
                    <i class="fa fa-clock-o"></i> 正在审核中
                </span>
                <span class="currency" style="font-size:20px!important;position: absolute;right: 10px;bottom:22px"
                      ng-if="item.verified">
                    <i class="fa fa-check"></i> 已通过审核
                </span>
            </p>
        </div>
    </div>

    <uib-pagination ng-hide="list==null || list.length==0" ng-change="pageChanged()"
                    items-per-page="6"
                    boundary-links="false" boundary-link-numbers="true" total-items="totalItems"
                    ng-model="currentPage" class="pagination-sm" rotate="true" max-size="12"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                    last-text="&raquo;">

    </uib-pagination>
</div>
