.page-estate-list {

  .estatesCount {
    font-size: 20px;
  }

  .seller-profile {
    p {
      margin-bottom: 6px;
    }
  }

  .estate-wrapper {
    cursor: pointer;
    position: relative;
    @include set-transition;

    &:hover {
      background: #c00;
      color: white;

      h1 {
        small {
          color: white;
        }
      }
      .price {
        .currency {
          color: white !important;
        }
      }
    }

    padding: 6px 10px;
    border: 1px solid #c00;
    margin-bottom: -1px;
    margin-left: -1px;
    h1 {
      position: relative;
      font-size: 22px;
      margin-top: 6px;
      small {
        @include set-transition;
        font-size: 0.8em;
      }
    }
    .description {
      max-height: 90px;
    }
    .price {
      text-align: right;
      padding-right: 20px;
      font-size: 20px;
      position: absolute;
      width: 100%;
      bottom: 0;
      .currency {
        @include set-transition;
        font-size: 30px;
        color: #c00;
      }
    }
  }
  .radio-group-wrapper {
    //padding: 6px 10px;
    //label {
    //  text-align: center;
    //  font-size: 16px;
    //  font-weight: normal;
    //}
  }
  .filter-by-location {
    .fa-chevron-right {
      color: #CCC;
      margin-left: 1px;
    }
  }
}